* {
    box-sizing: border-box;
}

:root {
    font-size: 62.5%; // 1rem = 10px

    //color variables
    --background-black-c: rgba(9, 9, 9, .9);
    --background-black: rgba(9, 9, 9, .9);
    --background-white-c: rgba(255, 255, 255, .9);
    --background-white: rgb(255, 255, 255);
    --font-black: #222; 
    --font-grey: #555;
    --font-grey-2: #f1f1f1;
    --link-blue: rgb(0, 155, 255);
    --link-blue-h: rgb(3, 119, 197);
    --primary-green: #50c23c;
    
    --box-shadow-b: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    --box-shadow-h: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

    @media screen and (max-width: 1400px){
        font-size: 50%; 
    }

    @media screen and (max-width: 1000px){
        font-size: 40%; 
    }
}

body {
    font-family: 'Stardos Stencil', cursive;
    background: var(--background-white);
    color: var(--font-grey);
    min-height: 100vh;
    
    opacity: 0;
    transition: opacity 3s;
    
    &.fade-out {
    opacity: 1;
    }
}

a {
    color: var(--link-blue);
    text-decoration: none;

    &:hover {
        color: var(--link-blue-h);
    }
}

h1 {
    font-size: 4.5rem;
    color: var(--font-grey);
}

@media screen and (min-width: 701px){
    body, html {height:100%;}
    div.scroll-disable {height:100%; overflow:hidden;}
}