.portfolio {
    height: 100vh;
    max-width: 70%;
    width: 100%;
    padding: 5rem 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    &__item {
        flex: 0 1;
        min-width: 30%;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: var(--box-shadow-b);
        transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
        min-height: 25vh;
        height: 25vh;
        margin-bottom: 3rem;
        overflow: hidden;
        background-size: contain;
        transition: all .2s;
        background-repeat: no-repeat;
        background-size: cover;
        &__content {
            height: 100%;
            width: 100%;
            a {
                display: block;
                height: 100%;
                width: 100%;
            }
        }
        &.i1 {
            background-color: #F44336;
            background-image: url(../img/site1.png);
            filter: grayscale(100%);
            &:hover {
                filter: grayscale(0);
            }
        }
        &.i2 {
            background-color: #E91E63;
            background-image: url(../img/site2.png);
            filter: grayscale(100%);
            &:hover {
                filter: grayscale(0);
            }
        }
        &.i3 {
            background-color: #f4cd0b;
        }
        &.i4 {
            background-color: var(--primary-green);
        }
        &.i5 {
            background-color: #3F51B5;
            background-image: url(../img/site3.png);
            filter: grayscale(100%);
            &:hover {
                filter: grayscale(0);
            }
        }
        &.i6 {
            background-color: #2196F3;
            background-image: url(../img/site4.png);
            filter: grayscale(100%);
            &:hover {
                filter: grayscale(0);
            }
        }
        &.i7 {
            background-color: #3abeee;
        }
        &.i8 {
            background-color: #5ae0cd;
        }
        &.i9 {
            background-color: #009688;
            background-image: url(../img/site5.png);
            filter: grayscale(100%);
            &:hover {
                filter: grayscale(0);
            }
        }
        &:hover {
            box-shadow: var(--box-shadow-h);
        }
    }
    @media screen and (max-width: 700px) {
        height: auto;
        max-width: 100%;
        &__item {
            min-width: 80%;
        }
        .i3,
        .i4,
        .i7, 
        .i8 {
            display: none;
        }

        .i1,
        .i2,
        .i5,
        .i6,
        .i9 {
            filter: grayscale(0);  
        }
    }
}

@keyframes pop {
    0% {
        box-shadow: none
    }
    50% {
        box-shadow: var(--box-shadow-h);
    }
    100% {
        box-shadow: var(--box-shadow-b);
    }
}

.x {
    background-image: url(../img/x.png) !important;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.o {
    background-image: url(../img/o.png) !important;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.game {
    // margin-top: 10rem;
    font-size: 2rem;
    @media screen and (max-width: 700px) {
        display: none;
    }
}